In [11]:
import requests
import json
import pandas as pd
response = requests.get("https://openexchangerates.org/api/latest.json" , params={'app_id':'9756e000a8ad4d699a4f54ea01da50f9'})

data = response.json()
df = pd.json_normalize(data)

In [12]:
df

,disclaimer,license,timestamp,base,rates.AED,rates.AFN,rates.ALL,rates.AMD,rates.ANG,rates.AOA,...,rates.XCD,rates.XDR,rates.XOF,rates.XPD,rates.XPF,rates.XPT,rates.YER,rates.ZAR,rates.ZMW,rates.ZWL
0,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1714586400,USD,3.67285,71.999996,93.909918,388.01106,1.80202,834.54,...,2.70255,0.758947,614.429858,0.001061,111.777122,0.00106,250.375049,18.645754,26.773697,322

In [13]:
def rename_columns(df):
    return df.rename(columns=lambda x: x.split('.')[-1])

In [14]:
df_renamed = rename_columns(df)

In [15]:
df_renamed

,disclaimer,license,timestamp,base,AED,AFN,ALL,AMD,ANG,AOA,...,XCD,XDR,XOF,XPD,XPF,XPT,YER,ZAR,ZMW,ZWL
0,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1714586400,USD,3.67285,71.999996,93.909918,388.01106,1.80202,834.54,...,2.70255,0.758947,614.429858,0.001061,111.777122,0.00106,250.375049,18.645754,26.773697,322

In [16]:
exchangeEGP=df_renamed[['base','EGP','timestamp']]

In [17]:
exchangeEGP

  base      EGP   timestamp
0  USD  47.8632  1714586400

In [20]:
from datetime import datetime
import os
# Define the directory path
directory_path = "../Landing/Exchange/"

if not os.path.exists(directory_path):
    os.makedirs(directory_path)
    
exchangeEGP['Extract Time'] = datetime.now()
exchangeEGP['Source'] = 'API'

exchangeEGP.to_csv(os.path.join(directory_path, "exchange.csv"), index=False)

C:\Users\Ahmed Samy\AppData\Local\Temp\ipykernel_19084\1200906480.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exchangeEGP['Extract Time'] = datetime.now()
C:\Users\Ahmed Samy\AppData\Local\Temp\ipykernel_19084\1200906480.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exchangeEGP['Source'] = 'API'